# BIBLIOTECAS

In [1]:
import pandas as pd
import numpy as np
import glob
import os

# CARREGAMENTO

## CARREGAMENTO, LIMPEZA E TRATAMENTO DOS ARQUIVOS INDIVIDUALMENTE

### 1 - arquivo_csv_1:

In [2]:
arquivo_csv_1 = ('uploads/analise_txcg_2025.csv')
df_1 = pd.read_csv(arquivo_csv_1, sep='#', encoding='utf-8')
print(df_1.shape)

# Limpeza e tratamento das datas do arquivo_csv_1
# 1. Converter as colunas de data para datetime
df_1['data_distribuicao'] = pd.to_datetime(df_1['data_distribuicao'], errors='coerce')
df_1['data_baixa'] = pd.to_datetime(df_1['data_baixa'], errors='coerce')

# 2. Verificar quantas datas inválidas temos
print(f"\nDatas inválidas na conversão:")
print(f"- data_distribuicao: {df_1['data_distribuicao'].isna().sum()} valores NaT")
print(f"- data_baixa: {df_1['data_baixa'].isna().sum()} valores NaT")

# 3. Extrair o ano de cada data
df_1['ano_distribuicao'] = df_1['data_distribuicao'].dt.year
df_1['ano_baixa'] = df_1['data_baixa'].dt.year

# 4. Fazer a limpeza: manter apenas registros em que:
#    - ano_distribuicao <= 2025 (ou é NaN)
#    - ano_baixa <= 2025 (ou é NaN)
df_limpo1 = df_1[
    (
        (df_1['ano_distribuicao'] <= 2025)
    ) & 
    (
        (df_1['ano_baixa'] == 2025) | 
        (df_1['ano_baixa'].isna())
    )
].copy()

print(f"\nShape após limpeza: {df_limpo1.shape}")
print(f"Registros removidos: {len(df_1) - len(df_limpo1)}")

# 5. Verificação detalhada
print(f"\nVerificação dos anos nas datas:")
print(f"Anos únicos em data_distribuicao: {sorted(df_limpo1['ano_distribuicao'].dropna().unique().astype(int))}")
print(f"Anos únicos em data_baixa: {sorted(df_limpo1['ano_baixa'].dropna().unique().astype(int))}")

# 6. Mostrar exemplos de registros removidos (se houver)
if len(df_1) > len(df_limpo1):
    df_removidos = df_1[~df_1.index.isin(df_limpo1.index)]
    print(f"\nExemplo de registros removidos:")
    print(df_removidos[['data_distribuicao', 'data_baixa', 'ano_distribuicao', 'ano_baixa']].head())
    
    # Contar motivo da remoção
    print(f"\nMotivo da remoção:")
    # Distribuição > 2025
    ANO = 2025
    dist_maior_ANO = df_1[df_1['ano_distribuicao'] > ANO]
    dist_nula = df_1[df_1['ano_distribuicao'].isna()]
    baixa_maior_ANO = df_1[df_1['ano_baixa'] > ANO]
    baixa_menor_ANO = df_1[df_1['ano_baixa'] < ANO]

    print(f"- data_distribuicao > {ANO}: {len(dist_maior_ANO)} registros")
    print(f"- data_distribuicao NULA: {len(dist_nula)} registros")
    print(f"- data_baixa > {ANO}: {len(baixa_maior_ANO)} registros")
    print(f"- data_baixa < {ANO}: {len(baixa_menor_ANO)} registros")
    
    # Intersecção (ambos > ANO)
    ambos_maior_ANO = df_1[(df_1['ano_distribuicao'] > ANO) & (df_1['ano_baixa'] > ANO)]
    print(f"- ambos > {ANO}: {len(ambos_maior_ANO)} registros")

# 7. Opcional: Remover as colunas auxiliares de ano se não precisar mais
# df_limpo = df_limpo.drop(columns=['ano_distribuicao', 'ano_baixa'])

# 8. Mostrar estatísticas do dataframe limpo
print(f"\n{'='*50}")
print("RESUMO DO DATAFRAME LIMPO:")
print(f"{'='*50}")
print(f"Total de registros: {len(df_limpo1)}")
print(f"Total de colunas: {len(df_limpo1.columns)}")
print(f"\nPrimeiras linhas:")
print(df_limpo1.head())
print(f"\nTipos de dados:")
print(df_limpo1.dtypes)

# 9. Verificar valores nulos nas datas
print(f"\nValores nulos nas datas (após limpeza):")
print(f"- data_distribuicao: {df_limpo1['data_distribuicao'].isna().sum()} nulos ({df_limpo1['data_distribuicao'].isna().sum()/len(df_limpo1)*100:.1f}%)")
print(f"- data_baixa: {df_limpo1['data_baixa'].isna().sum()} nulos ({df_limpo1['data_baixa'].isna().sum()/len(df_limpo1)*100:.1f}%)")

C:\Users\jcpsrodrigues\AppData\Local\Temp\ipykernel_13848\3364801925.py:2: DtypeWarning: Columns (5,17,18,20,22,23,25,43,49,50,54,60,61) have mixed types. Specify dtype option on import or set low_memory=False.
  df_1 = pd.read_csv(arquivo_csv_1, sep='#', encoding='utf-8')

(3053996, 64)

Datas inválidas na conversão:
- data_distribuicao: 2 valores NaT
- data_baixa: 1532336 valores NaT

Shape após limpeza: (3052502, 66)
Registros removidos: 1494

Verificação dos anos nas datas:
Anos únicos em data_distribuicao: [np.int64(1858), np.int64(1920), np.int64(1932), np.int64(1939), np.int64(1941), np.int64(1944), np.int64(1948), np.int64(1952), np.int64(1953), np.int64(1956), np.int64(1958), np.int64(1959), np.int64(1963), np.int64(1964), np.int64(1965), np.int64(1966), np.int64(1967), np.int64(1968), np.int64(1969), np.int64(1970), np.int64(1971), np.int64(1972), np.int64(1973), np.int64(1974), np.int64(1975), np.int64(1976), np.int64(1977), np.int64(1978), np.int64(1979), np.int64(1980), np.int64(1981), np.int64(1982), np.int64(1983), np.int64(1984), np.int64(1985), np.int64(1986), np.int64(1987), np.int64(1988), np.int64(1989), np.int64(1990), np.int64(1991), np.int64(1992), np.int64(1993), np.int64(1994), np.int64(1995), np.int64(1996), np.int64(1997), np.int64(1998), np.int64(1999), np.int64(2000), np.int64(2001), np.int64(2002), np.int64(2003), np.int64(2004), np.int64(2005), np.int64(2006), np.int64(2007), np.int64(2008), np.int64(2009), np.int64(2010), np.int64(2011), np.int64(2012), np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020), np.int64(2021), np.int64(2022), np.int64(2023), np.int64(2024), np.int64(2025)]
Anos únicos em data_baixa: [np.int64(2025)]

Exemplo de registros removidos:
      data_distribuicao data_baixa  ano_distribuicao  ano_baixa
20           2026-01-08        NaT            2026.0        NaN
180          2025-05-20 2026-01-08            2025.0     2026.0
222          2025-07-25 2026-01-08            2025.0     2026.0
20601        2025-03-24 2026-01-07            2025.0     2026.0
20783        2025-08-20 2026-01-08            2025.0     2026.0

Motivo da remoção:
- data_distribuicao > 2025: 819 registros
- data_distribuicao NULA: 2 registros
- data_baixa > 2025: 701 registros
- data_baixa < 2025: 0 registros
- ambos > 2025: 28 registros

==================================================
RESUMO DO DATAFRAME LIMPO:
==================================================
Total de registros: 3052502
Total de colunas: 66

Primeiras linhas:
   processo_id    comarca  comarca_id entrancia      serventia  \
0      7910509  ABADIÂNIA           1   INICIAL  Vara Judicial
1      4242234  ABADIÂNIA           1   INICIAL  Vara Judicial
2      7910508  ABADIÂNIA           1   INICIAL  Vara Judicial
3      6712626  ABADIÂNIA           1   INICIAL  Vara Judicial
4      7910426  ABADIÂNIA           1   INICIAL  Vara Judicial

  codg_serventia_cnj  vara_oficial_id   origem is_conhecimento  grupo_cnj_id  \
0                NaN               42     SEEU               f             4
1                NaN               42  PROJUDI               f             4
2                NaN               42     SEEU               f             4
3                NaN               42  PROJUDI               f             1
4                NaN               42     SEEU               f             4

   ... data_remessa_instancia_inferior is_desconsiderar_estatistica  \
0  ...                             NaN                            f
1  ...                             NaN                            f
2  ...                             NaN                            f
3  ...                             NaN                            f
4  ...                             NaN                            f

  is_acao_coletiva  data_julgamento_considerada gabinete codg_gabinete_cnj  \
0                f                          NaN      NaN               NaN
1                f                   2023-03-30      NaN               NaN
2                f                          NaN      NaN               NaN
3                f                   2025-03-19      NaN               NaN
4                f                          NaN      NaN               NaN

  gabinete_codigo_cnj vara_oficial_codigo_cnj ano_distribuicao  ano_baixa
0                 NaN                   11501           2025.0        NaN
1                 NaN                   11501           2022.0     2025.0
2                 NaN                   11501           2022.0        NaN
3                 NaN                   11501           2024.0     2025.0
4                 NaN                   11501           2025.0        NaN

[5 rows x 66 columns]

Tipos de dados:
processo_id                  int64
comarca                     object
comarca_id                   int64
entrancia                   object
serventia                   object
                            ...
codg_gabinete_cnj           object
gabinete_codigo_cnj        float64
vara_oficial_codigo_cnj      int64
ano_distribuicao           float64
ano_baixa                  float64
Length: 66, dtype: object

Valores nulos nas datas (após limpeza):
- data_distribuicao: 0 nulos (0.0%)
- data_baixa: 1531544 nulos (50.2%)

In [3]:
# Validação do dataframe
df_limpo1.info()
df_limpo1_distribuicao = df_limpo1[(df_limpo1['ano_distribuicao'] == 2026)].head(10)
df_limpo6_baixa = df_limpo1[(df_limpo1['ano_baixa'] == 2026)].head(10)

print('###################### data_distribuicao com ano = 2026 ######################')
print(df_limpo1_distribuicao)
print('######################### data_baixa com ano = 2026 ##########################')
print(df_limpo6_baixa)

<class 'pandas.core.frame.DataFrame'>
Index: 3052502 entries, 0 to 3053995
Data columns (total 66 columns):
 #   Column                           Dtype
---  ------                           -----
 0   processo_id                      int64
 1   comarca                          object
 2   comarca_id                       int64
 3   entrancia                        object
 4   serventia                        object
 5   codg_serventia_cnj               object
 6   vara_oficial_id                  int64
 7   origem                           object
 8   is_conhecimento                  object
 9   grupo_cnj_id                     int64
 10  is_recurso                       object
 11  processo                         object
 12  natureza                         object
 13  codg_natureza                    float64
 14  fase                             object
 15  data_fase                        object
 16  data_distribuicao                datetime64[ns]
 17  data_baixa                       datetime64[ns]
 18  data_arquivo                     object
 19  data_publicacao_acordao          float64
 20  data_arquivo_provisorio          object
 21  data_primeiro_julgamento         object
 22  data_receb_prim_recurso          object
 23  data_retorno_ultimo_recurso      object
 24  data_transito_julgado            object
 25  data_suspensao                   object
 26  id_pena_exe_tipo                 float64
 27  is_maria_penha                   object
 28  is_proc_adm_desp                 object
 29  is_exec_fiscal                   object
 30  is_exec_titulo_extra             object
 31  is_exec_judicial                 object
 32  is_acao_improbidade_corrupcao    object
 33  is_suspenso                      object
 34  juiz                             int64
 35  instancia_id                     int64
 36  tipo_area                        float64
 37  codg_fase                        float64
 38  codg_classe                      float64
 39  nome_area_acao                   object
 40  nome_serventia                   object
 41  info_execucao_sentenca           float64
 42  tipo_serventia                   object
 43  identificador_processo_origem    object
 44  identificador_processo           object
 45  valor_acao                       float64
 46  grupo_res76_id                   float64
 47  grupo_cnj                        object
 48  codg_area_acao                   float64
 49  data_primeira_audiencia          object
 50  data_baixa_considerada           object
 51  nome_serventia_processo          object
 52  codg_serventia_processo          float64
 53  codg_comarca_origem              float64
 54  nome_comarca_origem              object
 55  codg_atividade                   float64
 56  data_remessa_instancia_inferior  float64
 57  is_desconsiderar_estatistica     object
 58  is_acao_coletiva                 object
 59  data_julgamento_considerada      object
 60  gabinete                         object
 61  codg_gabinete_cnj                object
 62  gabinete_codigo_cnj              float64
 63  vara_oficial_codigo_cnj          int64
 64  ano_distribuicao                 float64
 65  ano_baixa                        float64
dtypes: datetime64[ns](2), float64(17), int64(7), object(40)
memory usage: 1.5+ GB
###################### data_distribuicao com ano = 2026 ######################
Empty DataFrame
Columns: [processo_id, comarca, comarca_id, entrancia, serventia, codg_serventia_cnj, vara_oficial_id, origem, is_conhecimento, grupo_cnj_id, is_recurso, processo, natureza, codg_natureza, fase, data_fase, data_distribuicao, data_baixa, data_arquivo, data_publicacao_acordao, data_arquivo_provisorio, data_primeiro_julgamento, data_receb_prim_recurso, data_retorno_ultimo_recurso, data_transito_julgado, data_suspensao, id_pena_exe_tipo, is_maria_penha, is_proc_adm_desp, is_exec_fiscal, is_exec_titulo_extra, is_exec_judicial, is_acao_improbidade_corrupcao, is_suspenso, juiz, instancia_id, tipo_area, codg_fase, codg_classe, nome_area_acao, nome_serventia, info_execucao_sentenca, tipo_serventia, identificador_processo_origem, identificador_processo, valor_acao, grupo_res76_id, grupo_cnj, codg_area_acao, data_primeira_audiencia, data_baixa_considerada, nome_serventia_processo, codg_serventia_processo, codg_comarca_origem, nome_comarca_origem, codg_atividade, data_remessa_instancia_inferior, is_desconsiderar_estatistica, is_acao_coletiva, data_julgamento_considerada, gabinete, codg_gabinete_cnj, gabinete_codigo_cnj, vara_oficial_codigo_cnj, ano_distribuicao, ano_baixa]
Index: []

[0 rows x 66 columns]
######################### data_baixa com ano = 2026 ##########################
Empty DataFrame
Columns: [processo_id, comarca, comarca_id, entrancia, serventia, codg_serventia_cnj, vara_oficial_id, origem, is_conhecimento, grupo_cnj_id, is_recurso, processo, natureza, codg_natureza, fase, data_fase, data_distribuicao, data_baixa, data_arquivo, data_publicacao_acordao, data_arquivo_provisorio, data_primeiro_julgamento, data_receb_prim_recurso, data_retorno_ultimo_recurso, data_transito_julgado, data_suspensao, id_pena_exe_tipo, is_maria_penha, is_proc_adm_desp, is_exec_fiscal, is_exec_titulo_extra, is_exec_judicial, is_acao_improbidade_corrupcao, is_suspenso, juiz, instancia_id, tipo_area, codg_fase, codg_classe, nome_area_acao, nome_serventia, info_execucao_sentenca, tipo_serventia, identificador_processo_origem, identificador_processo, valor_acao, grupo_res76_id, grupo_cnj, codg_area_acao, data_primeira_audiencia, data_baixa_considerada, nome_serventia_processo, codg_serventia_processo, codg_comarca_origem, nome_comarca_origem, codg_atividade, data_remessa_instancia_inferior, is_desconsiderar_estatistica, is_acao_coletiva, data_julgamento_considerada, gabinete, codg_gabinete_cnj, gabinete_codigo_cnj, vara_oficial_codigo_cnj, ano_distribuicao, ano_baixa]
Index: []

[0 rows x 66 columns]

In [4]:
# Gerar o arquivo processos_1.csv limpo
output_filename_csv_1 = 'dataclean/analise_txcg_2025_clean.csv'
os.makedirs(os.path.dirname(output_filename_csv_1), exist_ok=True)
df_limpo1.to_csv(output_filename_csv_1, index=False, sep='#', encoding='utf-8-sig')

# CARREGAMENTO POR ARQUIVO CSV

In [5]:
arquivo_csv = ('dataclean/analise_txcg_2025_clean.csv')
df = pd.read_csv(arquivo_csv, sep='#', encoding='utf-8')
print(df.shape)

C:\Users\jcpsrodrigues\AppData\Local\Temp\ipykernel_13848\1602558905.py:2: DtypeWarning: Columns (5,17,18,20,22,23,25,43,49,50,54,60,61) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(arquivo_csv, sep='#', encoding='utf-8')

(3052502, 66)

# VALIDAÇÕES RÁPIDAS

In [6]:
df.head()

,processo_id,comarca,comarca_id,entrancia,serventia,codg_serventia_cnj,vara_oficial_id,origem,is_conhecimento,grupo_cnj_id,...,data_remessa_instancia_inferior,is_desconsiderar_estatistica,is_acao_coletiva,data_julgamento_considerada,gabinete,codg_gabinete_cnj,gabinete_codigo_cnj,vara_oficial_codigo_cnj,ano_distribuicao,ano_baixa
0,7910509,ABADIÂNIA,1,INICIAL,Vara Judicial,NaN,42,SEEU,f,4,...,NaN,f,f,NaN,NaN,NaN,NaN,11501,2025.0,NaN
1,4242234,ABADIÂNIA,1,INICIAL,Vara Judicial,NaN,42,PROJUDI,f,4,...,NaN,f,f,2023-03-30,NaN,NaN,NaN,11501,2022.0,2025.0
2,7910508,ABADIÂNIA,1,INICIAL,Vara Judicial,NaN,42,SEEU,f,4,...,NaN,f,f,NaN,NaN,NaN,NaN,11501,2022.0,NaN
3,6712626,ABADIÂNIA,1,INICIAL,Vara Judicial,NaN,42,PROJUDI,f,1,...,NaN,f,f,2025-03-19,NaN,NaN,NaN,11501,2024.0,2025.0
4,7910426,ABADIÂNIA,1,INICIAL,Vara Judicial,NaN,42,SEEU,f,4,...,NaN,f,f,NaN,NaN,NaN,NaN,11501,2025.0,NaN

In [58]:
pendentes = df[
    (df['nome_area_acao'] == 'civel') & 
    (df['comarca'] == 'INHUMAS')
]['data_baixa'].isna().sum()

print(f"Quantidade de valores nulos em 'data_baixa': {pendentes}")

Quantidade de valores nulos em 'data_baixa': 991

In [8]:
# SERVENTIA 
pendentes = df[
    (df['serventia'] == '1ª Vara Cível') & 
    (df['comarca'] == 'ANÁPOLIS')
]['data_baixa'].isna().sum()

print(f"Quantidade de valores nulos em 'data_baixa': {pendentes}")

Quantidade de valores nulos em 'data_baixa': 4857

In [59]:
baixados = df[
    (df['nome_area_acao'] == 'civel') & 
    (df['comarca'] == 'INHUMAS')
]['data_baixa'].notna().sum()

print(f"Quantidade de valores não-nulos em 'data_baixa': {baixados}")

Quantidade de valores não-nulos em 'data_baixa': 1578

In [9]:
# SERVENTIA
baixados = df[
    (df['serventia'] == '1ª Vara Cível') & 
    (df['comarca'] == 'ANÁPOLIS')
]['data_baixa'].notna().sum()

print(f"Quantidade de valores não-nulos em 'data_baixa': {baixados}")

Quantidade de valores não-nulos em 'data_baixa': 2061

# LIMPEZA E TRATAMENTO

In [10]:
# Verificar o nome correto das colunas (pode haver diferenças de acentuação ou espaços)
colunas = df.columns.tolist()

# Encontrar as colunas de data corretamente
coluna_serventia = [col for col in colunas if 'serventia' in col.lower()][0]
coluna_distribuicao = [col for col in colunas if 'data_distribuicao' in col.lower()][0]
coluna_baixa = [col for col in colunas if 'data_baixa' in col.lower()][0]
coluna_area_acao = [col for col in colunas if 'nome_area_acao' in col.lower()][0]
coluna_processo_id = [col for col in colunas if 'processo_id' in col.lower()][0]
coluna_comarca = [col for col in colunas if 'comarca' in col.lower()][0]

# Renomear colunas para garantir consistência
df = df.rename(columns={
coluna_distribuicao: 'data_distribuicao',
coluna_baixa: 'data_baixa',
coluna_area_acao: 'nome_area_acao',
coluna_processo_id: 'numero',
coluna_comarca: 'comarca',
coluna_serventia: 'serventia'
})

# DATASETS DE ESTATÍSTICAS (ANUAL) >> Comarca >> Área de Ação

In [ ]:
# Gerando o Dataframe com a Taxa de Congestionamento Anual:
# 0) Garantir datetime
df['data_distribuicao'] = pd.to_datetime(df['data_distribuicao'], errors='coerce')
df['data_baixa'] = pd.to_datetime(df['data_baixa'], errors='coerce')

keys = ['comarca', 'nome_area_acao'] # Altere aqui para fazer os agrupamentos

# 1) Cópia 
df_f = df.copy()

# 2.1) Referência anual
df_f['ano_dist'] = df_f['data_distribuicao'].dt.to_period('Y')
df_f['ano_baixa'] = df_f['data_baixa'].dt.to_period('Y')

# 3.1) Fluxos anuais
# Distribuídos por ano (fluxo)
dist_ano_base = (
    df_f.groupby(keys + ['ano_dist'])
        .size()
        .rename('Distribuidos_fluxo_anual')
        .reset_index()
        .rename(columns={'ano_dist': 'ano_ref'})
)

# Baixados por ano (fluxo)
baix_ano_base = (
    df_f.dropna(subset=['data_baixa'])
        .groupby(keys + ['ano_baixa'])
        .size()
        .rename('Baixados_fluxo_anual')
        .reset_index()
        .rename(columns={'ano_baixa': 'ano_ref'})
)

# Calcular valores acumulados
# Distribuídos acumulados
dist_acum = dist_ano_base.copy()
dist_acum = dist_acum.sort_values(['comarca', 'nome_area_acao', 'ano_ref'])
dist_acum['Distribuidos_acum_ano'] = dist_acum.groupby(keys)['Distribuidos_fluxo_anual'].cumsum()

# Baixados acumulados
baix_acum = baix_ano_base.copy()
baix_acum = baix_acum.sort_values(['comarca', 'nome_area_acao', 'ano_ref'])
baix_acum['Baixados_acum_ano'] = baix_acum.groupby(keys)['Baixados_fluxo_anual'].cumsum()

# Pendentes acumulados = Distribuídos acumulados - Baixados acumulados
pend_acum = dist_acum[keys + ['ano_ref', 'Distribuidos_acum_ano']].copy()
pend_acum = pend_acum.merge(
    baix_acum[keys + ['ano_ref', 'Baixados_acum_ano']], 
    on=keys + ['ano_ref'], 
    how='left'
)
pend_acum['Baixados_acum_ano'] = pend_acum['Baixados_acum_ano'].fillna(0).astype(int)
pend_acum['Pendentes_acum_ano'] = pend_acum['Distribuidos_acum_ano'] - pend_acum['Baixados_acum_ano']

# 6.1) Dataframe anual (APENAS COM AS COLUNAS SOLICITADAS)
df_global_anual = dist_ano_base[['comarca', 'nome_area_acao', 'ano_ref', 'Distribuidos_fluxo_anual']].copy()

# Adicionar Baixados_fluxo_anual
df_global_anual = df_global_anual.merge(
    baix_ano_base[['comarca', 'nome_area_acao', 'ano_ref', 'Baixados_fluxo_anual']],
    on=['comarca', 'nome_area_acao', 'ano_ref'],
    how='left'
)

# Adicionar Pendentes_acum_ano
df_global_anual = df_global_anual.merge(
    pend_acum[['comarca', 'nome_area_acao', 'ano_ref', 'Pendentes_acum_ano']],
    on=['comarca', 'nome_area_acao', 'ano_ref'],
    how='left'
)

# Adicionar Distribuidos_acum_ano (apenas para cálculo, depois removemos)
df_global_anual = df_global_anual.merge(
    dist_acum[['comarca', 'nome_area_acao', 'ano_ref', 'Distribuidos_acum_ano']],
    on=['comarca', 'nome_area_acao', 'ano_ref'],
    how='left'
)

# Preencher NaN com 0 e Converter para int
df_global_anual['Baixados_fluxo_anual'] = df_global_anual['Baixados_fluxo_anual'].fillna(0).astype(int)
df_global_anual['Pendentes_acum_ano'] = df_global_anual['Pendentes_acum_ano'].fillna(0).astype(int)
df_global_anual['Distribuidos_fluxo_anual'] = df_global_anual['Distribuidos_fluxo_anual'].astype(int)
df_global_anual['Distribuidos_acum_ano'] = df_global_anual['Distribuidos_acum_ano'].astype(int)

# Renomear colunas EXATAMENTE como solicitado
df_global_anual = df_global_anual.rename(columns={
    'Distribuidos_fluxo_anual': 'Distribuidos_ano',
    'Baixados_fluxo_anual': 'Baixados_ano',
    'Pendentes_acum_ano': 'Pendentes_ano'
})

# Calcular taxa anual CORRETA: Pendentes_ano / Distribuidos_acum_ano
df_global_anual['Taxa_Cong_anual (%)'] = np.where(
    df_global_anual['Distribuidos_acum_ano'] > 0,
    (df_global_anual['Pendentes_ano'] / df_global_anual['Distribuidos_acum_ano']) * 100,
    0
).round(2)

# Remover a coluna auxiliar Distribuidos_acum_ano
df_global_anual = df_global_anual.drop('Distribuidos_acum_ano', axis=1)

# Ordenar por comarca, serventia e ano
df_global_anual = df_global_anual.sort_values(['comarca', 'nome_area_acao', 'ano_ref'])

# DATASETS DE ESTATÍSTICAS (ANUAL) >> Comarca >> Serventia

In [11]:
# Gerando o Dataframe com a Taxa de Congestionamento Anual:
# 0) Garantir datetime
df['data_distribuicao'] = pd.to_datetime(df['data_distribuicao'], errors='coerce')
df['data_baixa'] = pd.to_datetime(df['data_baixa'], errors='coerce')

keys = ['comarca', 'serventia'] # Altere aqui para fazer os agrupamentos

# 1) Cópia 
df_f = df.copy()

# 2.1) Referência anual
df_f['ano_dist'] = df_f['data_distribuicao'].dt.to_period('Y')
df_f['ano_baixa'] = df_f['data_baixa'].dt.to_period('Y')

# 3.1) Fluxos anuais
# Distribuídos por ano (fluxo)
dist_ano_base = (
    df_f.groupby(keys + ['ano_dist'])
        .size()
        .rename('Distribuidos_fluxo_anual')
        .reset_index()
        .rename(columns={'ano_dist': 'ano_ref'})
)

# Baixados por ano (fluxo)
baix_ano_base = (
    df_f.dropna(subset=['data_baixa'])
        .groupby(keys + ['ano_baixa'])
        .size()
        .rename('Baixados_fluxo_anual')
        .reset_index()
        .rename(columns={'ano_baixa': 'ano_ref'})
)

# Calcular valores acumulados
# Distribuídos acumulados
dist_acum = dist_ano_base.copy()
dist_acum = dist_acum.sort_values(['comarca', 'serventia', 'ano_ref'])
dist_acum['Distribuidos_acum_ano'] = dist_acum.groupby(keys)['Distribuidos_fluxo_anual'].cumsum()

# Baixados acumulados
baix_acum = baix_ano_base.copy()
baix_acum = baix_acum.sort_values(['comarca', 'serventia', 'ano_ref'])
baix_acum['Baixados_acum_ano'] = baix_acum.groupby(keys)['Baixados_fluxo_anual'].cumsum()

# Pendentes acumulados = Distribuídos acumulados - Baixados acumulados
pend_acum = dist_acum[keys + ['ano_ref', 'Distribuidos_acum_ano']].copy()
pend_acum = pend_acum.merge(
    baix_acum[keys + ['ano_ref', 'Baixados_acum_ano']], 
    on=keys + ['ano_ref'], 
    how='left'
)
pend_acum['Baixados_acum_ano'] = pend_acum['Baixados_acum_ano'].fillna(0).astype(int)
pend_acum['Pendentes_acum_ano'] = pend_acum['Distribuidos_acum_ano'] - pend_acum['Baixados_acum_ano']

# 6.1) Dataframe anual (APENAS COM AS COLUNAS SOLICITADAS)
df_global_anual = dist_ano_base[['comarca', 'serventia', 'ano_ref', 'Distribuidos_fluxo_anual']].copy()

# Adicionar Baixados_fluxo_anual
df_global_anual = df_global_anual.merge(
    baix_ano_base[['comarca', 'serventia', 'ano_ref', 'Baixados_fluxo_anual']],
    on=['comarca', 'serventia', 'ano_ref'],
    how='left'
)

# Adicionar Pendentes_acum_ano
df_global_anual = df_global_anual.merge(
    pend_acum[['comarca', 'serventia', 'ano_ref', 'Pendentes_acum_ano']],
    on=['comarca', 'serventia', 'ano_ref'],
    how='left'
)

# Adicionar Distribuidos_acum_ano (apenas para cálculo, depois removemos)
df_global_anual = df_global_anual.merge(
    dist_acum[['comarca', 'serventia', 'ano_ref', 'Distribuidos_acum_ano']],
    on=['comarca', 'serventia', 'ano_ref'],
    how='left'
)

# Preencher NaN com 0 e Converter para int
df_global_anual['Baixados_fluxo_anual'] = df_global_anual['Baixados_fluxo_anual'].fillna(0).astype(int)
df_global_anual['Pendentes_acum_ano'] = df_global_anual['Pendentes_acum_ano'].fillna(0).astype(int)
df_global_anual['Distribuidos_fluxo_anual'] = df_global_anual['Distribuidos_fluxo_anual'].astype(int)
df_global_anual['Distribuidos_acum_ano'] = df_global_anual['Distribuidos_acum_ano'].astype(int)

# Renomear colunas EXATAMENTE como solicitado
df_global_anual = df_global_anual.rename(columns={
    'Distribuidos_fluxo_anual': 'Distribuidos_ano',
    'Baixados_fluxo_anual': 'Baixados_ano',
    'Pendentes_acum_ano': 'Pendentes_ano'
})

# Calcular taxa anual CORRETA: Pendentes_ano / Distribuidos_acum_ano
df_global_anual['Taxa_Cong_anual (%)'] = np.where(
    df_global_anual['Distribuidos_acum_ano'] > 0,
    (df_global_anual['Pendentes_ano'] / df_global_anual['Distribuidos_acum_ano']) * 100,
    0
).round(2)

# Remover a coluna auxiliar Distribuidos_acum_ano
df_global_anual = df_global_anual.drop('Distribuidos_acum_ano', axis=1)

# Ordenar por comarca, serventia e ano
df_global_anual = df_global_anual.sort_values(['comarca', 'serventia', 'ano_ref'])

In [62]:
# Validação mais refinada
ano_alvo = 2025
df_global_anual[
    (df_global_anual['comarca'] == 'INHUMAS') & 
    (df_global_anual['nome_area_acao'] == 'civel') &
    (df_global_anual['ano_ref'].dt.year == ano_alvo)
].head()

,comarca,nome_area_acao,ano_ref,Distribuidos_ano,Baixados_ano,Pendentes_ano,Taxa_Cong_anual (%)
7857,INHUMAS,civel,2025,1289,1578,991,38.58

In [12]:
# Validação mais refinada sgrupado por SERVENTIA
ano_alvo = 2025
df_global_anual[
    (df_global_anual['comarca'] == 'ANÁPOLIS') & 
    (df_global_anual['serventia'] == '1ª Vara Cível') &
    (df_global_anual['ano_ref'].dt.year == ano_alvo)
].head()

,comarca,serventia,ano_ref,Distribuidos_ano,Baixados_ano,Pendentes_ano,Taxa_Cong_anual (%)
319,ANÁPOLIS,1ª Vara Cível,2025,2369,2061,4857,70.21

In [16]:
# Filtrando o ANO para exração ANUAL
ano_alvo = 2025
df_ano = df_global_anual[df_global_anual['ano_ref'].dt.year == ano_alvo]
df_ano.head()

,comarca,serventia,ano_ref,Distribuidos_ano,Baixados_ano,Pendentes_ano,Taxa_Cong_anual (%)
26,ABADIÂNIA,Vara Judicial,2025,1938,2270,2781,55.06
59,ACREÚNA,"1ª Vara Judicial (Família e Sucessões, Infânci...",2025,1630,1816,1825,50.12
90,ACREÚNA,"2ª Vara Judicial (Fazendas Públicas, Criminal,...",2025,1212,1901,2457,56.38
125,ALEXÂNIA,Vara Judicial,2025,3827,5112,5957,53.82
160,ALTO PARAÍSO DE GOIÁS,Vara Judicial,2025,1813,2453,4490,64.67

In [17]:
# Filtrando o ANO para exração ANUAL agrupado SERVENTIA
ano_alvo = 2025
df_ano = df_global_anual[df_global_anual['ano_ref'].dt.year == ano_alvo]
df_ano.head()

,comarca,serventia,ano_ref,Distribuidos_ano,Baixados_ano,Pendentes_ano,Taxa_Cong_anual (%)
26,ABADIÂNIA,Vara Judicial,2025,1938,2270,2781,55.06
59,ACREÚNA,"1ª Vara Judicial (Família e Sucessões, Infânci...",2025,1630,1816,1825,50.12
90,ACREÚNA,"2ª Vara Judicial (Fazendas Públicas, Criminal,...",2025,1212,1901,2457,56.38
125,ALEXÂNIA,Vara Judicial,2025,3827,5112,5957,53.82
160,ALTO PARAÍSO DE GOIÁS,Vara Judicial,2025,1813,2453,4490,64.67

# GRAVA ARQUIVO ANUAL NA PASTA RESULTS

In [64]:
# Grava cada arquivo ANUAL na pasta results
ano_alvo = 2025
df_ano = df_global_anual[df_global_anual['ano_ref'].dt.year == ano_alvo]
os.makedirs("results", exist_ok=True)
df_ano.to_csv(f"results/tx_{ano_alvo}.csv", sep=",", index=False, encoding="utf-8-sig")

In [67]:
# Grava cada arquivo ANUAL agrupado por SERVENTIA na pasta results
ano_alvo = 2025
df_ano = df_global_anual[df_global_anual['ano_ref'].dt.year == ano_alvo]
os.makedirs("results", exist_ok=True)
df_ano.to_csv(f"results/tx_serv_{ano_alvo}.csv", sep=",", index=False, encoding="utf-8-sig")

# MERGE DOS ARQUIVOS ANUAIS DA PASTA RESULTS

In [65]:
# Listar os arquivos CSV na pasta 'results'
arquivo_csv = glob.glob('results/tx_*.csv')
# Carregar os arquivos CSV e concatenar em um único DataFrame
dfs = []
for arquivo in arquivo_csv:  # lista/iterável com os caminhos tipo 'tx_2020.csv', 'tx_2021.csv', ...
    df_ano = pd.read_csv(arquivo, sep=',', encoding='utf-8')
    dfs.append(df_ano)

df_results_anual = pd.concat(dfs, ignore_index=True)

print(df_results_anual.shape)

(7698, 7)

In [68]:
# Listar os arquivos CSV agrupados por SERVENTIA na pasta 'results'
arquivo_csv = glob.glob('results/tx_serv_*.csv')
# Carregar os arquivos CSV e concatenar em um único DataFrame
dfs = []
for arquivo in arquivo_csv:  # lista/iterável com os caminhos tipo 'tx_2020.csv', 'tx_2021.csv', ...
    df_ano = pd.read_csv(arquivo, sep=',', encoding='utf-8')
    dfs.append(df_ano)

df_results_anual = pd.concat(dfs, ignore_index=True)

print(df_results_anual.shape)

(3309, 7)

In [69]:
# Validação Rápida do arquivo ANUAL concatenado
df_results_anual.tail()

,comarca,serventia,ano_ref,Distribuidos_ano,Baixados_ano,Pendentes_ano,Taxa_Cong_anual (%)
3304,ÁGUAS LINDAS DE GOIÁS,"2ª Vara Cível, Família e Sucessões",2025,2274,1663,1757,51.37
3305,ÁGUAS LINDAS DE GOIÁS,"2ª Vara de Fazendas Públicas, Registros Públic...",2025,195,3614,123,3.29
3306,ÁGUAS LINDAS DE GOIÁS,3ª Vara Criminal (crimes em geral),2025,625,1147,305,21.01
3307,ÁGUAS LINDAS DE GOIÁS,Juizado Especial Cível e Criminal,2025,3074,3799,1805,32.21
3308,ÁGUAS LINDAS DE GOIÁS,Juizado de Violência Doméstica e Familiar cont...,2025,2154,2754,763,21.69

# GRAVA ARQUIVO ANUAL CONCATENADO, NO FORMATO CSV, NA PASTA RESULTS_CONCAT

In [ ]:
# Agrupados por ÁREA DE AÇÃO
os.makedirs("results_concat", exist_ok=True)
df_results_anual.to_csv("results_concat/tx_cong_anual.csv", sep=',', encoding='utf-8')

In [70]:
# Agrupados por SERVENTIA
os.makedirs("results_concat", exist_ok=True)
df_results_anual.to_csv("results_concat/tx_cong_anual_serv.csv", sep=',', encoding='utf-8')